@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #757575;
  background: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.address {
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .address {
    padding: 21px 0;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    padding: 32px 0;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.title {
  color: #212121;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.site-logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .site-logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.192;
  }
}

.navigation .site-logo {
  padding: 16px 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation .site-logo {
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .navigation .site-logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo-half {
  color: #000000;
}

.logo-var {
  color: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navigation {
    width: 480px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .navigation {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    width: 1200px;
  }
}

.site-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .site-nav {
    flex-direction: column;
    margin-bottom: 60px;
  }
}

.site-nav-item {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-bottom: 40px;
  /* @media screen and (max-width: 767px) {
        margin-bottom: 40px;
      } */
}

@media screen and (min-width: 768px) {
  .site-nav-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.site-nav-item .link {
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .site-nav-item .link {
    padding: 32px 0;
  }
}

.site-nav-link {
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav-link {
    font-size: 14px;
    line-height: 1.143;
  }
}

.site-nav-link:hover, .site-nav-link:focus {
  color: #2196f3;
}

.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  /* bottom: 0; */
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .current::after {
    bottom: 0;
  }
}

.contacts-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .contacts-list {
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .contacts-list {
    flex-direction: column;
  }
}

.contacts-list-link {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-weight: 500;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts-list-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list-link {
    justify-content: center;
    font-size: 14px;
    line-height: 1.143;
  }
}

.contacts-list-link:hover, .contacts-list-link:focus {
  color: #2196f3;
}

.contacts-list-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-link:hover .contacts-list-icon,
.contacts-list-link:focus .contacts-list-icon {
  fill: #2196f3;
}

.contacts-list-item:first-child {
  margin-right: 0px;
}

@media screen and (min-width: 1200px) {
  .contacts-list-item:first-child {
    margin-right: 50px;
  }
}

.envelope {
  width: 16px;
  height: 11px;
}

@media screen and (min-width: 768px) {
  .envelope {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .envelope {
    width: 16px;
    height: 12px;
  }
}

.smartphone {
  width: 10px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .smartphone {
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .smartphone {
    height: 15px;
  }
}

/* .social-networks {
  display: flex;
  justify-content: center;

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $light-color;

    transition: background-color $duration $timing-function;

    &:hover,
    &:focus {
      background-color: $accent-color;
    }

    .footer & {
      background-color: rgba(255, 255, 255, 0.1);

      transition: background-color $duration $timing-function;
    }
  }

  &-item:not(:last-child) {
    margin-right: 10px;
  }

  &-svg {
    width: 20px;
    height: 20px;
    fill: $social-networks-color;

    transition: fill $duration $timing-function;

    .social-networks-link:hover &,
    .social-networks-link:focus & {
      fill: $light-color;
    }

    .footer & {
      width: 20px;
      height: 20px;
      fill: $light-color;
    }
  }
}
 */
/* .subscribe {
  padding-top: 72px;
  padding-bottom: 94px;
  margin-left: 93px;

  &-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1, 142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light-color;
  }

  &-btn {
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding-left: 29px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1, 875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $light-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    &-svg {
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }
  }
} */
/*.subscribe-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $light-color;
}*/
/* .subscribe-form {
  display: flex;
  padding-top: 20px;

  &-input {
    width: 358px;
    height: 50px;
    padding-left: 15px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    &:focus {
      outline: none;
    }
  }
} */
/*.subscribe-form-input {
  width: 358px;
  height: 50px;
  padding-left: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

 
}

.subscribe-form-input:focus {
  outline: none;
}*/
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  /* height: 80px; */
}

.header .address {
  margin-left: auto;
}

/* .portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-selection-btn {
  height: 38px;
  padding: 6px 22px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 4px;
  background-color: $team-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color $duration $timing-function,
    background-color $duration $timing-function,
    box-shadow $duration $timing-function;

  &:hover,
  &:focus {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: $light-color;
    background-color: $accent-color;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  display: flex;
  width: 370px;
  height: 404px;
  box-sizing: border-box;
  margin-bottom: 30px;
  background: $light-color;

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }

  &-link {
    display: block;
    box-shadow: none;
    transition: box-shadow $duration $timing-function;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &-box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }

  &-title {
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &-desc {
    color: $primary-text-color;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
  }
}

.portfolio-item-img {
  position: relative;
  display: block;
  overflow: hidden;

  &::after {
    content: "Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $light-color;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform $duration $timing-function;

    .portfolio-item-link:hover &,
    .portfolio-item-link:focus & {
      transform: translateY(0%);
    }
  }
} */
/* .footer {
  display: flex;
  height: 252px;
  background-color: $background-color;

  & .container {
    display: flex;
  }

  & .address {
    width: 231px;
    margin-top: 20px;
  }

  &-contacts-list {
    padding: 60px 0px;
    margin-right: 70px;
  }

  &-list-item:not(:last-child) {
    margin-bottom: 9px;
  }
} */
/*.footer .container {
  display: flex;
}*/
/*.footer-contacts-list {
  padding: 60px 0px;
  margin-right: 70px;
}*/
/*.footer .address {
  width: 231px;
  margin-top: 20px;
}*/
/*.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}*/
/* .footer-list-link {
  color: $light-color;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &-contact {
    color: $contacts-color;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    transition: color $duration $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
} */
/*.footer-list-link-contact {
  color: $contacts-color;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  transition: color $duration $timing-function;
}*/
/*.footer-list-link:hover,
.footer-list-link:focus,
.footer-list-link-contact:hover,
.footer-list-link-contact:focus {
  color: $accent-color;
}*/
/*====social-networks====*/
/* .footer-social-networks {
  padding-top: 72px;
  padding-bottom: 100px;
}

.social-networks-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $light-color;
}

.social-networks-link:hover,
.social-networks-link:focus {
  background-color: $accent-color;
} */
/*# sourceMappingURL=portfolio.css.map */