.footer {
  background-color: $background-color;

  & .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  & .address {
    margin-top: 20px;

    @media screen and (min-width: 1200px) {
      width: 231px;
    }
  }

  &-contacts-list {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 320px) and (max-width: 1199px) {
      text-align: center;
      padding-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 165px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }

  &-list-item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}

.footer-list-link {
  color: $light-color;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &-contact {
    color: $contacts-color;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    transition: color $duration $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

/*====social-networks====*/
.footer-social-networks {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }
}

.social-networks-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $light-color;
}

.social-networks-link:hover,
.social-networks-link:focus {
  background-color: $accent-color;
}
