.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main_section_1/hero-bg-img.jpg);
  background-color: $background-color;

  &-title {
    width: 696px;
    margin-bottom: 30px;
    color: $light-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  &-btn {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1, 875;
    letter-spacing: 0.06em;
    color: $light-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
  }
}
