.site-logo {
  color: $accent-color;
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;

  & .header {
    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
      font-size: 26px;
      line-height: 1.192;
    }
  }

  & .footer {
    margin-right: 0;
    text-align: center;

    @media screen and (min-width: 1200px) {
      /* margin-right: 0; */
      text-align: left;
    }
  }

  .navigation & {
    padding: 16px 0;

    @media screen and (min-width: 768px) {
      padding: 26px 0;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }
}

.logo-half {
  color: $logo-color;
}

.logo-var {
  color: $light-color;
}
