.menu-btn {
  /*position: absolute;
  top: 8px;
  right: 8px;*/
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &-close:hover,
  &-open:hover,
  &-close:focus,
  &-open:focus {
    fill: $accent-color;
  }
}

.menu-btn .menu-btn-close {
  display: none;
}

.menu-btn.is-open .menu-btn-close {
  display: block;
}

.menu-btn.is-open .menu-btn-open {
  display: none;
}
.menu-container {
  display: flex;
  background-color: $light-color;
  text-align: center;
  z-index: 2;

  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    padding: 60px;
    font-size: 18px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}
