.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: visibility $duration $timing-function,
    opacity $duration $timing-function;
  overflow-y: auto;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* 
.wrapper-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
}*/

/* .modal-window {
  position: relative;
  display: block;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
/* width: 528px;
  /*height: 581px;*/
/* padding: 40px;
  background: $light-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
} */

/* .close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: $light-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  &-svg:hover,
  &-svg:focus {
    fill: $accent-color;
  }
}

.close {
  width: 18px;
  height: 18px;
}

.modal-form {
  display: flex;
  flex-direction: column;

  &-title {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }

  &-field {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &-label {
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
  }

  &-input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;

    &:focus {
      outline: none;
      border: 1px solid $accent-color;
      transition: transform $duration $timing-function;
    }
  }

  &-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 11px;
    left: 12px;

    .modal-form-input:focus + & {
      fill: $accent-color;
      transition: transform $duration $timing-function;
    }
  }
}

.modal-comment {
  margin-top: 10px;
  margin-bottom: 20px;

  &-label {
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
  }

  &-area {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    &:focus {
      outline: none;
      border: 1px solid $accent-color;
      transition: transform $duration $timing-function;
    }

    &::placeholder {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
}

.modal-policy-label {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  &::before {
    content: "";
    width: 16px;
    height: 15px;
    display: inline-block;
    border: 1px solid $title-text-color;
    border-radius: 2px;
    margin-right: 8px;
    transition: transform $duration $timing-function;

    .modal-form-policy:checked + & {
      background-image: url(../images/svg/icon-check.svg);
      border: none;
    }
  }
}

.modal-policy-link {
  color: $accent-color;
}

.modal-btn {
  margin: 30px 124px 0;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.06em;
  color: $light-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
 */
