/* .subscribe {
  padding-top: 72px;
  padding-bottom: 94px;
  margin-left: 93px;

  &-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1, 142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $light-color;
  }

  &-btn {
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding-left: 29px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1, 875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $light-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    &-svg {
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }
  }
} */

/*.subscribe-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $light-color;
}*/

/* .subscribe-form {
  display: flex;
  padding-top: 20px;

  &-input {
    width: 358px;
    height: 50px;
    padding-left: 15px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    &:focus {
      outline: none;
    }
  }
} */

/*.subscribe-form-input {
  width: 358px;
  height: 50px;
  padding-left: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

 
}

.subscribe-form-input:focus {
  outline: none;
}*/
