$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$team-color: #f5f4fa;
$background-color: #2f303a;
$contacts-color: rgba(255, 255, 255, 0.6);
$light-color: #ffffff;
$logo-color: #000000;
$line-color: #ececec;
$social-networks-color: #afb1b8;
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
